html, body{
  background-color:#222;
}

body{
  font-family: inherit;
}

input{
  background-color: #222 !important;
  color: white !important;
  border: 2px solid #444 !important;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type=submit]{
  color: lightseagreen !important;
  text-transform: uppercase;

}

#headline {
  color: lightseagreen;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  margin-bottom:1rem;
}

#subheadline {
  text-transform: uppercase; 
  opacity: 0.5;
}

.nav-link {
  font-size: larger;
  font-weight: bolder;
  color: lightseagreen;
}

.nav-link:hover{
  color: dimgrey;
}

#layout-container {
  margin-top: 2rem;
}

.jumbotron {
  color:grey;
  color: #96a9a5 !important;
  padding-bottom: 1rem;
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #444;
}
