html, body{
  background-color:#222;
}

body{
  font-family: inherit;
}

label {
  text-align:left;
  display: block;
  font-weight: bold;
}

.input, input{
  background-color: #222 !important;
  color: white !important;
  border: 2px solid #444 !important;
}

.btn, input[type=submit]{
  color: lightseagreen !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;

}

#headline {
  color: lightseagreen;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  margin-bottom:2rem;
}

#subheadline {
  text-transform: uppercase; 
  opacity: 0.5;
}

.title-badge {
  background-color:#222;
  padding-bottom: .8rem;
  padding-top: .8rem;
}

.nav-link {
  font-size: larger;
  font-weight: bolder;
  color: lightseagreen;
}

.nav-link:hover{
  color: dimgrey;
}

#layout-container {
  margin-top: 2rem;
}

#randomText {
  padding: 1rem;
}

.table-dark{
  background-color: #333;
  color: lightgrey;
}

.table thead th {
  color: lightseagreen;
}

.table td {
  border: none;
}

.jumbotron {
  color:grey;
  color: #96a9a5 !important;
  padding: 2rem 10rem 0rem 10rem;
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #444;
}
